  body{
    background-color: black;
    color: green;
    font-size: 50px;
    background-image: url("http://www.animenewsnetwork.com/thumbnails/max550x550/cms/news/104794/yuri-plisetsky.jpeg");
  }

  h1{
    color:red;
  }
